# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment files
*.env
.env.*

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Temporary scripts/text files
list_models.py
models.txt
